@define-color background rgba(56, 60, 74, 1);
@define-color window rgba(124, 129, 140, 1);
@define-color blue rgba(82, 145, 226, 1);
@define-color even rgba(64, 69, 82, 1);
@define-color foreground rgba(212, 190, 152, 1);

* {
    font-family: Sarasa Term SC,PingFang SC;
    font-size: 14px;
}

#window {
    margin: 10px;
    border-radius: 18px;
    border: 5px solid blue;
    background-color: @window;
}

expander .entry {
  margin-left: -15px;
}

#input {
    margin: 0px;
    margin-bottom: 10px;
    border-radius: 18px;
    border: 0.5px solid @blue;
    background-color: @background;
    color: @foreground;
}

#inner-box {
    border: 0px solid;
    border-radius: 18px;
    background-color: @background;
}

#outer-box {
    margin: 0px;
    border: 0px solid;
    border-radius: 18px;
    padding:4px;
    background-color: @background;
}

#img {
    margin-right: 6px;
}

#scroll {
    margin: 0px;
    border: 0px solid;
}

#text {
    padding: 0px;
    color: white;
}

#entry{
    padding: 1px;
    border: 5px solid @background;
    border-radius: 18px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0px;
}

#entry:nth-child(even){
    border: 5px solid @even;
    border-radius: 18px;
    background-color: @even;
}

#entry:selected {
    border: 5px solid @blue;
    border-radius: 18px;
    outline: 8px;
    background-color: @blue;
}

#text:selected {
    outline: 0px;
}
